body{
    background-image: url(alap.png);
}
hr{
    color: #555555;
}
#felsorolas01{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#felsorolas02{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
img{
    width: 250px;
}
#page{
    width: 900px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    padding: 10px;
}
#p1{
    text-align: center;
    font-size: large;
}
#p2{
    text-align: start;
    font-weight: 100;
}
#p3{
    text-align:center
}
#vastag{
    font-weight: 1000;
}
#dőlt{
    font-style: italic;
    font-weight: 100;
}
#felsorolas1{
    justify-content: flex-start;
}
#end{
    text-align: end;
}